@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 75%;
    height: 250px;
    margin: 70px 0;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-texts, img {
    width: 50%;
}

.hero-btn {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    font-weight: bold;
    margin-top: 15px;
}